html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arsenal, Roboto, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.33;

  background-color: hsl(220, 25%, 55%);
  background-image: url('../assets/images/main_bg.png'),
    linear-gradient(
      90deg,
      hsla(220, 25%, 77%, 0),
      hsla(220, 25%, 77%, 0.85) 35%,
      hsla(220, 25%, 77%, 1) 50%,
      hsla(220, 25%, 77%, 0.85) 65%,
      hsla(220, 25%, 77%, 0)
    ),
    linear-gradient(
      hsla(220, 25%, 35%, 1),
      hsla(220, 25%, 35%, 0.3) 45%,
      hsla(220, 25%, 80%, 1)
    );
  background-position: center 0;
  background-attachment: fixed;
}

/* Titles */

h1,
h2,
h3 {
  margin: 0.8em 0 0.1em 0;
}

h1.Title {
  /* h1 default is 2.4rem, we apply 7/6 factor */
  font-size: 2.8rem;
}
h2.Title {
  /* h2 default is 1.8rem, we apply 7/6 factor */
  font-size: 2.1rem;
}

.Title {
  font-weight: 300;
  color: hsl(220, 50%, 20%);
  text-shadow: 3px 3px 5px hsla(0, 0%, 50%, 0.65);
}

.Subtitle {
  font-weight: 300;
  color: white;
  text-shadow: 2px 2px 5px hsla(0, 0%, 30%, 0.65);
}

/* Links */

a {
  color: hsl(48, 100%, 91%);
  text-decoration: underline;
}

a.Photo {
  color: hsla(5, 100%, 45%, 0.6);
  border-bottom-color: hsla(350, 100%, 45%, 0.4);
}

a:hover,
a.Photo:hover {
  color: hsl(0, 100%, 37%);
  border-bottom-color: hsl(350, 100%, 45%);
}

/* Lists */

ul.List {
  display: inline-block;
  list-style-type: none;
  padding-left: 0.2rem;
  margin: 0 auto;
  text-align: left;
}

ul.Circle {
  list-style-type: circle;
}

ul.List ul {
  padding-left: 0.2rem;
}

ul.List li {
  margin: 0.25rem 0 0.2rem 1rem;
  padding: 1px 0.4rem;
  background-image: linear-gradient(
    90deg,
    hsla(220, 25%, 77%, 0),
    hsla(220, 25%, 77%, 0.85) 35%,
    hsla(220, 25%, 77%, 1) 50%,
    hsla(220, 25%, 77%, 0.85) 65%,
    hsla(220, 25%, 77%, 0)
  );
}

/* Buttons */

.Button__Active {
  color: hsl(220, 20%, 10%) !important;
}

/* Positioning */

.Left {
  text-align: left;
}

.Right {
  text-align: right;
}

.Center {
  text-align: center;
}

/* Highlighting */

.Highlight {
  margin: 0.5rem 0;
  font-size: larger;
}

.Colored {
  color: hsl(0, 100%, 37%);
}

/*
Overwrite Chrome’s forced yellow background color

  based on:
    http://webagility.com/posts/the-ultimate-list-of-hacks-for-chromes-forced-yellow-background-on-autocompleted-inputs
*/

input {
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 99999s;
}

/* AppBar */

/* I've moved this particular selector here from CSS-in-JS
for the sake of background image: we use the same image
main_bg.png twice - as main background and as the
background in AppBar. When both are here in a regular
CSS file then webpack css loader will figure it out
and load it only once. */

.AppBar {
  background-color: hsla(220, 20%, 45%, 1) !important;
  background: url('../assets/images/main_bg.png'),
    linear-gradient(
      90deg,
      hsla(220, 25%, 77%, 0),
      hsla(220, 25%, 77%, 0.85) 35%,
      hsla(220, 25%, 77%, 1) 50%,
      hsla(220, 25%, 77%, 0.85) 65%,
      hsla(220, 25%, 77%, 0)
    );
  background-position: center 0;
  padding: 5px;
}
