.StickyTop {
  position: fixed;
  top: 0em;
  left: 0;
  width: 100%;

  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  /* background-color: hsla(220, 20%, 80%, 0.95); */
  /* background-color: hsla(220, 10%, 85%, 1); */
  background-image: linear-gradient(
      180deg,
      hsla(220, 17%, 50%, 0.4),
      hsla(220, 17%, 50%, 0.25) 15%,
      hsla(220, 17%, 50%, 0.16) 40%,
      hsla(220, 17%, 50%, 0.12) 50%,
      hsla(220, 17%, 50%, 0.08) 60%,
      hsla(220, 17%, 50%, 0)
    )
    /* ,
  linear-gradient(
    180deg,
    hsla(220, 17%, 100%, 0.4),
    hsla(220, 17%, 100%, 0.25) 15%,
    hsla(220, 17%, 100%, 0.12) 40%,
    hsla(220, 17%, 100%, 0.08) 50%,
    hsla(220, 17%, 100%, 0.04) 60%,
    hsla(220, 17%, 100%, 0)
  ) */;
}

.Header {
  flex: 1 1 auto;
  margin: 0.2em 0.5em 0 0.5em;
  /* padding: 0.4em 0.5em 0.4em 0.5em; */
  padding: 0.3em 0.5em 0.3em 0.5em;

  /* border: 1px solid hsla(48, 100%, 93%, 0.25); */
  border-radius: 0.5em;
  /* background-color: hsla(220, 10%, 25%, 0.75); */

  /* background-color: hsla(220, 20%, 50%, 0.2); */
  background-image: linear-gradient(
    180deg,
    hsla(220, 17%, 50%, 0),
    hsla(220, 17%, 50%, 0.6) 20%,
    hsla(220, 17%, 50%, 0.9) 35%,
    hsla(220, 17%, 50%, 1) 50%,
    hsla(220, 17%, 50%, 1) 99%,
    hsla(220, 17%, 50%, 0)
  );
}

@media (max-width: 45em) {
  .Header {
    /* margin-top: 1em; */
    background-color: hsla(220, 10%, 15%, 0.85);
    background-image: url();
  }
}
