.MenuItem {
  border: 1px solid lime;
  border-radius: 5px;
  /* padding: 10px;
  margin: 3px; */
  background-color: hsla(60, 50%, 50%, 0.5);
  color: hsla(50, 90%, 90%, 1);
}

/* Icons */

.Icon {
  font-size: 1em;
  /* color: hsla(50, 90%, 90%, 1); */
  /* color: red; */
}

.Icon__Open {
  color: hsla(50, 90%, 90%, 1);
}

.Icon__Close {
  text-align: left;
  /* color: hsla(50, 90%, 90%, 1); */
}

.small-menu {
  /* width: auto; */
  /* background-color: hsla(220, 20%, 80%, 0.5); */
  /* background-color: hsla(220, 25%, 45%, 0.5); */
}

.large-menu {
  justify-content: flex-end;
}

.Transparent {
  background-color: hsla(220, 25%, 45%, 0.01);
}
