.PadTop {
  margin-top: 2.1em;
}

.Br {
  margin-top: 0;
  margin-bottom: 0;
}

.PageContent {
  max-width: 38em;
  margin: 0 auto;
}

/* Styles for Education */

ul.Course li {
  color: #d03;
}

ul.Book li {
  color: #6ff;
}

.BookTitle,
.CourseTitle {
  display: inline-block;
}

.BookAuthor,
.CourseDetails {
  display: inline-block;
  color: hsla(220, 0%, 0%, 0.35);
  margin-left: 0.6em;
}

.BookAuthor::before,
.CourseDetails::before {
  content: '/';
  margin-right: 0.6em;
  color: hsla(220, 0%, 0%, 0.35);
}
