.Content {
  margin-top: 3rem;
  text-align: center;
}

.Br {
  margin-top: 0;
  margin-bottom: 0;
}

.PageContent {
  max-width: 38rem;
  margin: 0 auto;
}

/* Styles for Education page */

ul.Course li {
  color: #d03;
}

ul.Achievement li {
  color: hsla(220, 50%, 10%, 0.8);
}

ul.Book li {
  color: #6ff;
}

.AchievementTitle,
.BookTitle,
.CourseTitle {
  display: inline-block;
}

.AchievementDetails,
.BookAuthor,
.CourseDetails {
  display: inline-block;
  color: hsla(220, 0%, 0%, 0.35);
  margin-left: 0.6rem;
}

.AchievementDetails {
  display: block;
  color: hsla(220, 50%, 100%, 1);
}

.AchievementDetails::before,
.BookAuthor::before,
.CourseDetails::before {
  content: '/';
  margin-right: 0.6rem;
  color: hsla(220, 0%, 0%, 0.35);
}


.AchievementDetails::before {
  content: '—';
  color: hsla(220, 50%, 100%, 1);
}
