.Yellow {
  color: #fe0;
  text-shadow: 1px 2px 8px #630;
}

.Ind {
  padding-left: 10px;
}
.Compact {
  background-color: hsla(220, 35%, 50%, 0.1);
  display: inline-block;
  min-width: 50%;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
}
