.Footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
  color: hsla(220, 25%, 75%, 0.45);
  font-size: 0.8rem;
  background-image: url('../../assets/images/footer_bg.png');
  background-repeat: repeat-x;
  background-position: center 1rem;

  /* dimensions */
  height: 100%;
  padding: 12rem 0 0.4rem 0;
  margin: 1rem 0 0 0;
}

.Footer__Item {
  padding: 0rem 1rem;
  flex: 1 1 10rem;
}

.Footer__Item__Wide {
  flex-basis: 16rem;
}
