body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Cnt {
  /* border: 1px dashed red; */
  border-radius: 5px;
  background-color: hsla(220, 35%, 50%, 0.1);
  margin: 1px;
  padding: 5px;
  text-align: center;
}

.Compact {
  background-color: hsla(220, 35%, 50%, 0.1);
  display: inline-block;
  min-width: 50%;
  margin: 0 auto;
  padding: 5px;
  /* border: 1px dashed blue; */
  border-radius: 5px;
  text-align: left;
}

.Yellow {
  color: #fe0;
  text-shadow: 1px 2px 8px #630;
}

.Ind {
  padding-left: 10px;
}
