@import url('https://fonts.googleapis.com/css?family=Arsenal|Open+Sans+Condensed:300');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image:
    url('assets/images/starsky_018.png'),
    linear-gradient(
      90deg,
      hsla(220, 25%, 50%, 0),
      hsla(220, 25%, 77%, 0.85) 35%,
      hsla(220, 25%, 77%, 1) 50%,
      hsla(220, 25%, 77%, 0.85) 65%,
      hsla(220, 25%, 50%, 0)
    ),
    linear-gradient(
      hsla(220, 25%, 35%, 1),
      hsla(220, 25%, 35%, 0.3) 45%,
      hsla(220, 25%, 80%, 1)
    );
  background-position: center 0;
  background-color: hsla(220, 25%, 55%, 1);

  background-attachment: fixed;

  font-family: Arsenal, 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
}

/* Sticky footer */

.WholePage {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.WholePage__ButFooter {
  flex: 1;
}

.Footer {
  text-align: center;
  color: hsla(220, 25%, 75%, 0.5);
  font-size: 0.64em;
  flex-shrink: 0;

  background-image: url('assets/images/skyline_006.png');
  background-repeat: repeat-x;
  background-position: center 1em;

  padding: 12em 0 0 0;
  margin: 2em 0 0 0;
}

.Header {
  padding: 0.4em 0.5em 0.8em 0.5em !important;
  /* background-color: hsla(220, 20%, 55%, 1); */

  background-image: linear-gradient(
    180deg,
    hsla(220, 17%, 50%, 0),
    hsla(220, 17%, 50%, 0.6) 20%,
    hsla(220, 17%, 50%, 0.9) 35%,
    hsla(220, 17%, 50%, 1) 50%,
    hsla(220, 17%, 50%, 0.9) 65%,
    hsla(220, 17%, 50%, 0.6) 75%,
    hsla(220, 17%, 50%, 0.0) 87%
  );
  /* background-image: linear-gradient(
    hsla(230, 25%, 90%, 0),
    hsla(230, 25%, 90%, 0),
    hsla(230, 25%, 90%, 0),
    hsla(230, 25%, 90%, 0.03),
    hsla(230, 25%, 90%, 0.1),
    hsla(230, 25%, 90%, 0.2),
    hsla(230, 25%, 90%, 0.3),
    hsla(230, 25%, 90%, 0.5),
    hsla(230, 25%, 90%, 0.1),
    hsla(230, 25%, 90%, 0),
    hsla(230, 25%, 90%, 0)
  ); */
}

/* More */

a {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: hsla(48, 100%, 93%, 1);
  border-bottom-color: hsla(48, 100%, 93%, 0.75);
}

a.Photo {
  color: hsla(5, 100%, 45%, 0.6);
  border-bottom-color: hsla(5, 100%, 45%, 0.4);
}

a:hover,
a.Photo:hover {
  color: hsla(5, 100%, 45%, 1);
  border-bottom-color: hsla(5, 100%, 45%, 1);
}

.Debug {
  color: green;
}

.NoBorder {
  border-width: 0 !important;
}

.Navlink::before {
  content: '·';
  content: '•';
  /* content: ":"; */
  margin-left: 0.35em;
  margin-right: 0.35em;
  color: hsla(220, 0%, 100%, 0.45);
  /* margin-left: 0.6em; */
  border-bottom-width: 0px;
}
.Navlink__Active {
  color: #333;
}
.Navlink__Active::before {
  content: '•';
  margin-left: 0.35em;
  margin-right: 0.35em;
  /* color: red; */
}
.Navlink__Active a {
  color: #333;
  border-color: #333;
}

.Spacer1 {
  margin-left: 1em;
}

.Colored {
  color: hsl(0, 100%, 37%);
}

.Flex {
  display: flex;
  flex-wrap: wrap;
}
.Flex__Start {
  align-self: flex-start;
  /* flex-grow: 1; */
  text-align: left;
}
.Flex__Grow {
  flex-grow: 1;
}
.Flex__Middle {
  flex-grow: 1;
  text-align: left;
}
.Flex__End {
  align-self: flex-end;
  /* flex-grow: 1; */
  text-align: right;
}
.MarginLeft_1 {
  margin-left: 1em;
}
.MarginBottom_03 {
  margin-bottom: 0.3em;
}

.Left {
  text-align: left;
}

/* Lists */

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  text-align: left;
}

ul ul {
  padding-left: 0.4em;
}

ul.LongList {
  display: inline-block;
  margin: auto;
}

li {
  margin: 0.3em 0 0.2em 0;
  padding: 0 10px;
  border-color: hsla(220, 0%, 0%, 0.15);
  border-style: dashed;
  border-width: 0 0 1px 0;
  border-width: 0;
}

li::before {
  content: '•';
  margin-right: 0.6em;
  color: hsla(220, 0%, 100%, 0.45);
  color: hsl(0, 100%, 37%);
}

.Cnt {
  text-align: center;
}

.Br {
  margin-top: 0;
  margin-bottom: 0;
}

.Highlight {
  margin: 0.5em 0;
  font-size: larger;
  color: hsla(0, 100%, 37%, 1);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0.7em 0 0.1em 0;
}

.Title {
  color: hsla(220, 50%, 20%, 1);
  text-shadow: 3px 3px 5px hsla(0, 0%, 50%, 0.65);
}

.Subtitle {
  color: white;
  text-shadow: 2px 2px 5px hsla(0, 0%, 30%, 0.65);
}
