/* a Sticky Footer effect */

.WholePage {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.WholePage__ButStickyFooter {
  padding: 0 0;
  flex: 1 0 auto;
}

.StickyFooter {
  flex-shrink: 0;
}
